.ultra-rain-canvas {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;

  pointer-events: none;
}
.weather-layer {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
}

.cloud-layer {
  position: absolute;
  top: 0;
  width: 250%;
  height: 100%;
  background-repeat: repeat-x;
  background-size: cover;
  opacity: 0.55;
  animation: moveClouds linear infinite;
}

.layer1 {
  background-image: url('/animation/rainy-clouds.png');
  animation-duration: 105s;
  opacity: 0.85;
}

@keyframes moveClouds {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-30%);
  }
}
