input {
  width: 50%;
  padding: 0.5em;
  border: 1px solid var(--btn-back-color);
  border-radius: 10px;
  font-size: 1em;
}
input::placeholder {
  color: aliceblue;
}

input:focus {
  border-color: var(--theme-color);
  outline: none;
}

.search-field {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;

  padding: 1em;

  display: flex;
  justify-content: center;
  gap: 0.5em;

  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.85) 0%,
    rgba(0, 0, 0, 0.65) 50%,
    rgba(0, 0, 0, 0.01) 100%
  );

  z-index: 999;
}
