.main-weather {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
}

@media (min-width: 800px) {
  .main-weather {
    display: grid;
    grid-template-columns: 25em 1fr;
    grid-template-rows: auto 1fr;
    gap: 1.4em;
  }

  .main-weather > *:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .main-weather > *:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .main-weather > *:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

@media (min-width: 900px) {
  .main-weather {
    grid-template-columns: 30em 1fr;
  }
}
