.visibility {
  display: flex;
  gap: 0.5em;
}

.vis-values {
  display: flex;
  justify-content: center;
}

.vis-label {
  opacity: 0.65;
}

.vis-number {
  font-size: 1.5em;
  font-weight: 700;
}

.vis-quality {
  font-size: 1em;
  font-weight: 700;
  opacity: 0.9;
}

.vis-description {
  font-size: 0.9em;
  opacity: 0.75;
  line-height: 1.3;
}

@media (max-width: 480px) {
  .vis-values {
    flex-direction: column;
    gap: 0.8em;
  }
}
