.moon-sun {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  align-items: stretch;
}

.moon-sun-item {
  padding: 1em;
  border-radius: 1em;

  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(14px);
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;

  transition: 0.25s ease;

  height: 100%;
  min-height: 4.5em;
}

.moon-sun-item h3 {
  font-size: 1em;
  font-weight: 600;
  color: var(--text-color);
}

.moon-sun-item p {
  font-size: 1.5em;
  font-weight: 600;
  color: var(--text-color);
}

/* Мобилка */
@media (max-width: 480px) {
  .moon-sun {
    grid-template-columns: 1fr;
  }

  .moon-sun-item {
    min-height: 4em;
  }
}

/* Планшет */
@media (min-width: 480px) and (max-width: 900px) {
  .moon-sun {
    grid-template-columns: repeat(2, 1fr);
  }
}
