.condition {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3em;
}

.condition img {
  width: 3em;
  height: 3em;
}

.current-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;

  background-size: cover;
  background-position: center;
  padding: 1em 2em;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* backdrop-filter: blur(6px); */
}
