*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  line-height: 1;
  background: none;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

b,
strong {
  font-weight: inherit;
}
i,
em {
  font-style: inherit;
}

*:where(:not(html, body)) {
  border: none;
  outline: none;
  box-shadow: none;
}

button,
input,
textarea,
select {
  background: none;
  border: none;
  outline: none;
  color: inherit;
  appearance: none;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}
h1 {
  font-size: 4em;
}

h3 {
  font-size: 1em;
}

blockquote {
  quotes: none;
}
blockquote::before,
blockquote::after {
  content: '';
}

button {
  cursor: pointer;
}
