@import './null.css';
@import './styles/main-weather.css';
@import './styles/change-unit.css';
@import './styles/weather-effects.css';
@import './styles/cards.css';
@import './styles/details.css';
@import './styles/button.css';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --theme-color: #888;
  --theme-color-hover: #777;
  --text-color: rgba(255, 255, 255, 0.87);
  --back-color: #242424;
  --helper-back-color: #333;
  --helper-back-color-hover: #444;
  --btn-back-color: #6363634f;
}

#root {
  margin: 0 auto;

  text-align: center;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  font-weight: 500;
  color: var(--theme-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--theme-color-hover);
}

body {
  margin: 0;
  color: var(--text-color);
  background-color: var(--back-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 2em;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.sidebar {
  max-width: 20em;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  padding: 4em 1em;
}
@media (max-width: 1200px) {
  .sidebar {
    min-width: 100%;
  }
}

.content-wrapper {
  position: relative;
  flex: 1;

  overflow: hidden;
}

.swiper-container-fixed {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.page-scroll {
  overflow-y: auto;
  height: 100%;
  padding: 1rem;
  scrollbar-width: none;
}

.fade-screen {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fade-screen.show {
  opacity: 1;
}
#root {
  transition:
    background-image 0.4s ease,
    opacity 0.4s ease;
}
.bg-fade {
  opacity: 0;
}
.bg-fade.show {
  opacity: 1;
}
