@import './null.css';
@import './styles/main-weather.css';
@import './styles/change-unit.css';
@import './styles/weather-effects.css';
@import './styles/cards.css';
@import './styles/details.css';
@import './styles/button.css';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --theme-color: #888;
  --theme-color-hover: #777;
  --text-color: rgba(255, 255, 255, 0.87);
  --back-color: #242424;
  --helper-back-color: #333;
  --helper-back-color-hover: #444;
  --btn-back-color: #6363634f;
}

#root {
  margin: 0 auto;

  text-align: center;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 0.3s ease;
}

a {
  font-weight: 500;
  color: var(--theme-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--theme-color-hover);
}

body {
  margin: 0;
  color: var(--text-color);
  background-color: var(--back-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 2em;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--back-color);
  color: var(--text-color);
  overflow: hidden;
}

#root {
  margin: 0 auto;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 0.3s ease;
  height: 100%;
}

.page-scroll {
  overflow-y: auto;
  scrollbar-width: none;
  height: 100%;
  padding: 1rem;
  -webkit-overflow-scrolling: touch;
}

.fade-screen {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fade-screen.show {
  opacity: 1;
}
#root {
  transition:
    background-image 0.4s ease,
    opacity 0.4s ease;
}
#root.bg-fade {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.bg-fade.show {
  opacity: 1;
}

#root:not(.bg-fade) {
  opacity: 1;
}
