input {
  width: 50%;
  padding: 0.5em;
  border: 1px solid #999;
  border-radius: 10px;
  font-size: 1em;
  transition: all 0.3s ease-in;
}
input::placeholder {
  color: aliceblue;
}

input:focus {
  border-color: #777;
  outline: none;
}

.search-block {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  width: 100%;
  margin-bottom: 1em;
  z-index: 9999999;
  position: relative;
}
