.hours-container {
  display: flex;
  overflow-x: auto;
  gap: 0.5rem;
}
.hour-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
  padding: 0.5rem 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  border: 1px solid rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(25px);
}
